<div class="container">
  <app-navbar></app-navbar>
  <div class="row mt-4">
    <div class="col-3 text-center">
      <img [src]="host.profilePhoto" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <h2 class="mt-2">{{host.Name}}</h2>
    </div>
    <div class="col-9 text-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#casa" data-toggle="tab" class="nav-link">Residência</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#housePhotos" data-toggle="tab" class="nav-link">Fotos</a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#mapHouse" data-toggle="tab" class="nav-link">Localização</a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#comments" data-toggle="tab" class="nav-link">Comentários</a>
        </li>
      </ul>
      <div class="col-9 tab-content py-4">
        <div class="tab-pane active" id="profile">
            <h4 class="mb-3">Perfil</h4>
            <div class="row mx-1">
                <div class="col-12">
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Sobre:</b></h5>
                        <span>{{host.About}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Idade:</b></h5>
                        <span>{{host.Age}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Profissão:</b></h5>
                        <span>{{host.profession}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Hobbie:</b></h5>
                        <span>{{host.Hobbie}}</span>
                    </div>                    
                </div>
            </div>
            <!--/row-->
        </div>
        <div class="tab-pane" id="casa">
            <h4 class="mb-3">Informações</h4>
            <div class="row mx-1">
                <div class="col-12">
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Possui internet?</b></h5>
                        <span>{{host.MyHouse.Internet}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Possui energia elétrica?</b></h5>
                        <span>{{host.MyHouse.Eletricidade}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Fumante?</b></h5>
                        <span>{{host.MyHouse.Smoke}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Quantos quartos?</b></h5>
                        <span>{{host.MyHouse.Bedrooms}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Há animais?</b></h5>
                        <span>{{host.MyHouse.animals}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Há crianças?</b></h5>
                        <span>{{host.MyHouse.children}}</span>
                    </div>
                    <div class="row mb-1">
                        <h5 class="mx-1"><b>Acessibilidade</b></h5>
                        <span>{{host.MyHouse.accessibility}}</span>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="tab-pane" id="housePhotos">
            <h4 class="mb-3">Fotos da casa</h4>
            <div class="row mx-1">
                <div *ngFor="let cols of host.photos" class="col-4 mb-2">
                    <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="mapHouse">
            <h4 class="mb-3">Mapa</h4>
            <div class="row mx-1">
                <div class="col-12 mt-2">
                    <agm-map [zoom]="host.zoom" [latitude]="latitude" [longitude]="longitude">
                        <agm-marker *ngFor="let m of host.address"
                            [latitude]="m.lat"
                            [longitude]="m.lng"
                        >                            
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="comments">
            <div class="row mx-1" *ngFor="let c of host.comentarios">
                <div class="col align-self-start">
                    <h3>{{c.Nome}}</h3>
                    <p>{{c.texto}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
