<div class="row mt-4">
    <div class="btn-group btn-group-toggle offset-9 col-1" data-toggle="buttons">
        <label class="btn btn-success btn-sm">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Portuguese
        </label>
        <label class="btn btn-danger btn-sm">
            <input type="radio" name="options" id="option2" autocomplete="off"> English
        </label>        
    </div>
</div>
<div class="row mt-1">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg col-10 offset-1 rounded" role="navigation">
        <a class="navbar-brand" href="#">HomeStay</a>        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/host-list">Hosts</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>