<nav class="navbar navbar-expand-xl navbar-dark bg-primary" role="navigation">
    <a class="navbar-brand" href="#">HomeStay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <a class="navbar-brand" href="#"></a>
        <form class="form-inline ml-auto">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle mb-1 mr-sm-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Português
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Inglês</a>
                    <a class="dropdown-item" href="#">Espanhol</a>            
                </div>
            </div>
        </form>
        <ul class="navbar-nav">
            <li>
                <button class="btn btn-light mb-1 mr-sm-2">
                    Registre-se
                </button>
            </li>
            <li>
                <button class="btn btn-light mb-1">
                    Entrar
                </button>
            </li>
        </ul>
    </div>
</nav>
