<div class="container">
  <app-navbar></app-navbar> 
  <div class="row mt-4" *ngFor="let host of hosts">
    <div class="col-8 offset-2 border rounded">
      <div class="row mb-2">
          <div class="col-4">
              <div class="d-flex justify-content-center">
                <img [src]="host.profilePhoto" alt="" class="img-thumbnail my-2 justify-content-center" style="height: 180px">
              </div>
              <div class="d-flex justify-content-center">
                <h4 class="my-1">{{host.Name}}</h4>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <span>{{host.About}}</span>                  
              </div>
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" routerLink="/user/host/{{host._id}}" routerLinkActive="active">Perfil</a>
              </div>
          </div>
          <div class="col-8">
            <div class="mt-2">
              <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
